<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "nav.html.twig" %}

        {% for message in app.flashes('notice') %}
            <span class="alertMsg">{{ message }}</span>
        {% endfor %}

        <main>{% block body %}{% endblock %}</main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
